<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">To-Do</div>
    <div class="list-group list-group-flush">
      <a href="/myDay" class="list-group-item list-group-item-action bg-light"><i class="fas fa-sun"></i> My Day</a>
      <a href="/important" class="list-group-item list-group-item-action bg-light"><i class="fas fa-star"></i> Important</a>
      <a href="/planned" class="list-group-item list-group-item-action bg-light"><i class="fas fa-tasks"></i> Planned</a>
      <a href="/tasks" class="list-group-item list-group-item-action bg-light"><i class="fas fa-home"></i> Tasks</a>
    </div>
    <div class="list-group list-group-flush pt-5">
      <a href="#" class="list-group-item list-group-item-action bg-light">List-1</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">List-2</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">List-3</a>
      <a href="#" class="list-group-item list-group-item-action bg-light"><i class="far fa-plus-square"></i> New List</a>
    </div>
</div>
<!-- /#sidebar-wrapper -->