<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-task">
            <li class="main-header__header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Tasks</a>
            </li>
            <li class="main-header__header__item">
                <a class="<%= path === '/tasks/add-task' ? 'active' : '' %>" href="/tasks/add-task">Add Task</a>
            </li>
        </ul>
    </nav>
</header>