<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/task.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <a class="<%= path === '/user/get-tasks' ? 'active' : '' %>" href="/user/get-tasks"><button class="btn">Go ToDo App</button></a>            
    </main>
<%- include('includes/end.ejs') %>