<%- include('../includes/head.ejs') %>
</head>

<body>

  <div class="d-flex" id="wrapper">

    <%- include('../includes/left-navigation.ejs') %>

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <%- include('../includes/navigation.ejs') %>

      <div class="container-fluid">

        <h1 class="my-4">Tasks</h1>

        <ul class="pl-1">
          <li>
            <div class="d-flex justify-content-between p-1 m-2 border-bottom">
              <div>
                <label for="todo-checkbox"></label>
                <input id="todo-checkbox" class="mr-1" type="checkbox" name="" id="">
                <span> do this 1</span>
              </div>
              <div>
                <button type="button" class="btn btn-outline-primary border-0"><i class="fas fa-edit"></i> Edit</button>
                <button type="button" class="btn btn-outline-primary border-0"><i class="fas fa-trash-alt"></i> Delete</button>
              </div>
            </div>
          </li>
          <li>
            <div class="d-flex justify-content-between p-1 m-2 border-bottom">
              <div>
                <label for="todo-checkbox"></label>
                <input id="todo-checkbox" class="mr-1" type="checkbox" name="" id="">
                <span> do this 1</span>
              </div>
              <div>
                <button type="button" class="btn btn-outline-primary border-0"><i class="fas fa-edit"></i> Edit</button>
                <button type="button" class="btn btn-outline-primary border-0"><i class="fas fa-trash-alt"></i> Delete</button>
              </div>
            </div>
          </li>
          <li>
            <div class="d-flex justify-content-between p-1 m-2 border-bottom">
              <div>
                <label for="todo-checkbox"></label>
                <input id="todo-checkbox" class="mr-1" type="checkbox" name="" id="">
                <span> do this 1</span>
              </div>
              <div>
                <button type="button" class="btn btn-outline-primary border-0"><i class="fas fa-edit"></i> Edit</button>
                <button type="button" class="btn btn-outline-primary border-0"><i class="fas fa-trash-alt"></i> Delete</button>
              </div>
            </div>
          </li>
        </ul>

        <button type="button" class="btn btn-outline-primary mx-3 border-0"><a href="/add-task"><i class="fas fa-plus mr-2"></i> Add Task</a></button>

      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

<%- include('../includes/end.ejs') %>